.link-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  margin-bottom: 10px;
}

.link-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.link-item span {
  font-size: 14px;
}
