body {
  background-color: darkgray;
}

.element {
  margin-bottom: 10px;
}

.element h3 {
  text-align: center;
  margin: 0;
}

.element a {
  text-align: center;
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: blue;
}

.element img {
  text-align: center;
  width: auto;
  height: 100px;
}
